body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.resume-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  margin-left: 300px;
  margin-right: 250px;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

section {
  margin-bottom: 40px;
}

h1 {
  color: #007BFF;
}

.project {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;
}

.project img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

a {
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 10px 0;
}